@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-Poppins), sans-serif;
    text-decoration: none;
    color: black;
    flex-wrap: wrap;
}


:root{
    --background: white;
    --font-Poppins: 'Poppins';
    --color-yellow: rgb(241, 186, 6);
}



 /* HEADER */

 .hr{
    margin: auto;
    height: 3px;
    width: 75%;
    background-color: red;
}

.nav{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid red;
    position: fixed;
    width: 100vw;
    background-color: white;
    top: 0;
}

    .nav-logo{
        width: 110px;
        height: 90px;
        background: url(./img/logo.jpg) no-repeat;
        background-size: contain;
    }

    .nav-bar a{
        color: black;
        margin-left: 25px;
        cursor: pointer;
        font-size: 23px;
}

    a:hover{
        color: var(--color-yellow);
    }

   
/* /HEADER */
/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

#hero{
    margin: 100px auto auto auto;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-info{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .hero-span{
        color: var(--color-yellow);
    }

.hero-img img{
    width: 500px;
    height: 450px;
    border-radius: 15px;
}

.hero-a{
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    background-color: red;
    border-radius: 20px;
    padding: 10px;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

    .about p{
        background-color: var(--color-yellow);
        font-size: 25px;
        padding: 8px;
        border-radius: 15px;
    }


#cards{
    margin-top: 30px;
}

    .cards-title{
        text-align: center;

    }
        .cards-h2{
            font-size: 70px;
        }
        .cards-h3{
            margin-top: 20px;
            font-size: 40px;
        }
#cards-container{
    margin: 40px auto auto auto;
    background-color: var(--color-yellow);
    padding: 20px;
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
    .card{
        background-color: green;
        text-align: center;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        justify-content: center;
        padding: 10px;

    }
        .card-title{
            font-size: 50px;
            margin-bottom: 15px;
            color: var(--color-yellow);
        }
        .card-description{
            font-size: 25px;
            margin-bottom: 15px;
        }
        .card-btn{
            background-color: red;
            width: fit-content;
            padding: 10px;
            font-size: 25px;
            border-radius: 15px;

        }
/* /MAIN */


