@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: var(--font-Poppins), sans-serif;
    text-decoration: none;
    color: black;
}

:root{
    --background: white;
    --font-Poppins: 'Poppins';

}

 /* HEADER */

.nav{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .nav-logo{
        width: 110px;
        height: 110px;
        background: url(./img/logo.png) no-repeat;
        background-size: contain;
    }


.nav-bar a{
    color: black;
    margin-left: 40px;
    cursor: pointer;
}

    a:hover{
        color: rgb(241, 186, 6);
    }

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-info{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .hero-span{
        color: rgb(241, 186, 6);
    }

.hero-img img{
    width: 500px;
    height: 450px;
    border-radius: 15px;
}

.hero-a{
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    background-color: red;
    border-radius: 10px;

}

.about{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
    div.about p{
        font-size: 25px;
        background-color: rgb(241, 186, 6);
    }





